## DATAFRAMES AND SERIES DATA TYPES

In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

### DataFrames

In [3]:
'../../survey_results_schema.csv'
'''
Basically displayed as tables 

ROWS AND COLUMNS
'''

'\nBasically displayed as tables \n\nROWS AND COLUMNS\n'

In [4]:
# In native Python
# We use python dictionaries w/Keys and values
people

{'first': ['Corey', 'Jane', 'John'],
 'last': ['Schafer', 'Doe', 'Doe'],
 'email': ['CoreyMSchafer@gmail.com',
  'JaneDoe@email.com',
  'JohnDoe@email.com']}

In [7]:
# where columns are first, last and email
# and Corey Schafer and CoreyMSchafer@gmail.com as our row
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [8]:
people['first']

['Corey', 'Jane', 'John']

In [9]:
people['last']

['Schafer', 'Doe', 'Doe']

In [10]:
# Lets create a dataframe from this dict
import pandas as pd

In [11]:
df = pd.DataFrame(people)

In [12]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [17]:
# now we have a dataframe
type(df)

pandas.core.frame.DataFrame

In [18]:
# and this will be a series
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

### Series

In [19]:
'''
Series are just Rows of a single column

'''

'\nSeries are just Rows of a single column\n\n'

In [20]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [21]:
# see
type(df['email'])

pandas.core.series.Series

In [22]:
# Dataframes are 2 dimensional and Series One Dimensional

## More

In [23]:
# Just passed in a list colums

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [25]:
# This is no longer a Series since it has both a row and a column just a weeded out dataframe
type(df[['last', 'email']])

pandas.core.frame.DataFrame

In [27]:
# getting columns
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [29]:
# getting rows
# We could use loc and iloc

In [30]:
# iloc
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [31]:
# getting multiple rows
df.iloc[[0,2]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

In [34]:
# Specifing what columns we want
df.iloc[[0,2], 0] # first

0    Corey
2     John
Name: first, dtype: object

In [35]:
df.iloc[[0,2], 1] # last
df.iloc[[0,2], 2] # email

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [36]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com